*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 534px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  cursor: pointer;
  appearance: none;
}

.search-form__label {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.search-form__textfield {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #FFF;
  background-color: transparent;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  width: 225px;
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
}

.search-form__pseudo-checkbox {
  display: block;
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  
}

.search-form__pseudo-checkbox:before {
  width: 19px;
  height: 19px;
  background-color:#FFF;
}


.search-form__pseudo-checkbox:active {
  width: 19px;
  height: 19px;
  background-color: #FFF;
  border: 1px;
  opacity: 1;
}


.search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFF;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 7px 70px 5px;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  max-height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  margin-bottom: 32px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  max-width: 298px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: 'Oswald',sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.more-button {
  padding: 6px 134px;
  white-space: nowrap;
  width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}